@model Checkup
<div style="margin:45px">
    <img src="~/uploads/checkup/@Model.Image" style="height:300px;object-fit:cover" />
    <h4 style="margin-top:7px">Müayinənin adı:@Model.Name</h4>
    <p style="font-size:23px"><strong>Müayinənin Tərkibi:@Model.Structure</strong></p>
    <div style="font-size:23px"><strong>Müayinənin Qiyməti:@Model.Price AZN</strong></div>
    <a asp-action="Index" class="btn btn-secondary mt-3">Geriyə qayıt</a>
</div>

